* { 
	box-sizing: border-box;
    font-family: Averta, sans-serif;
}

html, body, div, iframe, h1, h2, h3, h4, h5, h6, p, pre,
img, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figure, figcaption, footer, header,  
main, menu, nav, section, summary, time {
	margin: 0;
	padding: 0;
	border: 0
}
body { line-height: 1 }
ul, menu { list-style: none }
a { 
	color: inherit;
	text-decoration: none 
}
table {	border-collapse: collapse }
*{font-family: 'Inter', sans-serif;}