:root{
    --green:#d1f246;
    --dark-grey:#333; 
    --grey:#6c757d;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
nav,#lang{display: none;}
#logo img{height: 30px;}
#bars {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 1px solid #eee;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}
#btn1 {
    background-color: var(--green);
    color: #000;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 14px;
}
#btn {
    background: #111;
    color: #fff;
    padding: 15px 30px;
    margin: 20px 0;
    border-radius: 10px;
    display: inline-block;
}
#hero{
    padding: 60px 16px;
    text-align: center;
}
#hero-text h1{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 15px;
    text-align: center;
}
#hero-text p{
    font-size: 30px;
    text-align: center;
    color: var(--grey);
    font-weight: 400;
    opacity: 0.4;
}

/* =======================================Teaching============================ */
#Teaching{
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 16px;
}
#Teaching-cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}
#Teaching span {color: #aaa;}
#Teaching h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #111;
}
.card {
    background: #fff;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    gap: 16px;
    transition: transform 0.3s ease, 
    box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 16px 40px rgba(0,0,0,0.12);
}
.period {
    font-size: 10px;
    background: white;
    text-align: center;
    align-self: center;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 2px;
    width: 160px;
}
.card img {
    align-self: center;
    width: 120px;
    height: 120px;
}
.card h3 {
    font-size: 20px;
    font-weight: 700;
    color: #111;
}
.card p {
    font-size: 15px;
    line-height: 1.6;
    color: #555;
}
/* =================================Teachers================================================== */
#teachers-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}
.teachers-header {margin-bottom: 30px;}
#teachers-title {
    font-size: 26px;
    font-weight: 800;
    line-height: 1.3;
    color: #1a1a1a;
}
#teachers-title span {
    color: #a0a0a0;
    font-weight: 400;
}
#teachers-cards {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 30px;
}
.teacher-card {text-align: center;}
.teacher-img {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 15px;
}
.teacher-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%); 
}
.teacher-name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #1a1a1a;
}
.teacher-ex {
    font-size: 13px;
    color: #777;
    line-height: 1.5;
    padding: 0 10px;
}
/* =============================Entrance-photo===================================== */
#entrance-photo img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
/* =============================Reviews===================================== */
#reviews {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 16px;
}
#reviews h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #111;
}
#reviews h2 span {color: #aaa;}
#review-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}
.review-card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.review-card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.review-info {
    position: absolute;
    top: 16px;
    left: 16px;
    background: rgba(0,0,0,0.75);
    color: #fff;
    padding: 8px 12px;
    border-radius: 12px;
}
.review-info h4 {
    font-size: 14px;
    font-weight: 600;
}
.review-info p {
    font-size: 12px;
    opacity: 0.8;
}
/* =============================Why Us============================================ */
/* =============================Graduates============================================ */
#graduates{background: #f5f5f5;}
#grad-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
#grad-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #1a1a1a;
    line-height: 1.1;
}
#grad-title span {
    color: #999;
    font-weight: 400;
}
#grad-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
}
.grad-card {
    background-color: #ffffff;
    border-radius: 25px; 
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.03);
}
.grad-img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 20px;
}
.grad-name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #333;
}
.company {
    border: 1px solid #f0f0f0;
    padding: 10px 15px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.comp-logo {
    max-height: 22px;
    max-width: 100%;
    object-fit: contain;
}

/* ==================================Partners======================================= */
#partners {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
#p-title {
    font-family: sans-serif;
    font-size: 35px; 
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 25px;
    line-height: 1.2;
}
#p-title span {
    color: #a0a0a0;
    font-weight: 400;
}
#p-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 12px;
}
.p-card {
    background-color: #f4f6f9;
    border-radius: 10px;
    height: 90px; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.p-card img {
    max-width: 100%;
    max-height: 50px;
    object-fit: contain;
}
/* =================================Diploma============================ */
#diploma {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 16px;
}
#diploma h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 32px;
    color: #111;
}
#diploma h2 span {color: #aaa;}
.diploma-box {
    background: #f5f5f5;
    border-radius: 24px;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
}
.diploma-img img {width: 200px;}
.diploma-content h3 {
    font-size: 24px;
    margin-bottom: 12px;
    color: #111;
}
.diploma-content p {
    font-size: 15px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 24px;
}
.btn {
    display: inline-block;
    padding: 14px 28px;
    background: #4a4a4a;
    color: #fff;
    border-radius: 14px;
    text-decoration: none;
    font-weight: 600;
}
/* =================================Guaranty========================================= */
#Guaranty{
    padding: 60px 20px;
    display: flex;
    justify-content: center;
}
#info {max-width: 100%;}
#info h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}
#info span {color: #a0a0a0; }
#text p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #444;
    font-weight: 500;
    line-height: 1.6;
}
/* =========================General Slider Control======================= */
#slider-controls {
    display: none; 
    justify-content: end;
    gap: 10px;
    margin-top: 20px;
}
#heading h2 {
    font-size: 35px;
    font-weight: 700;
    color: #1a1a1a;
    padding: 0px 20px;
}
#heading span {
    color: #999;
    font-weight: 400;
}

/* ================================Social-Projects====================================== */
#s-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 15px;
}
#sp-title {
    font-size: 35px;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 30px;
    line-height: 1.2;
}
#sp-title span {
    color: #999;
    font-weight: 400;
}
#projects-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.project-card {
    height: 250px;  
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.card1{background-image: url('../img/p1.jpg')}
.card2{background-image: url('../img/p2.jpg')}
.card3{background-image: url('../img/p3.jpg')}
.card4{background-image: url('../img/p4.jpg')}
.card5{background-image: url('../img/p5.jpg')}
.card6{background-image: url('../img/p6.jpg')}
.card7{background-image: url('../img/p7.jpg')}
.card8{background-image: url('../img/div_photo.jpg')}
.cover {
    height: 250px;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.2) 90%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: white;
}
.tag {
    font-size: 10px;
    font-weight: 700;
}
.card-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
}
/* ==============================Salary Calculator============================= */
#salary-calculator{
    background-color: #000000;
    padding: 40px 0;
}
#calc {
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#calc-title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;
}
#field {
    width: 100%;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 10px;
}
#radio {margin: 20px 0;}
#radio p {
    font-weight: 700;
    margin-bottom: 10px;
}
.radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    accent-color: var(--green);
}
.range-group {
    background: #f9f9f9;
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
}
.range-group input {
    width: 100%;
    accent-color:var(--green); 
}
#calc-results {
    background-color: #fcfcfc;
    border-radius: 20px;
    padding: 25px;
}
.salary-icon {
    font-size: 40px;
    margin: 20px 0;
    font-weight: 300;
}
.detail-box {margin-bottom: 20px;}
.detail-box span {
    display: block;
    color: #888;
    font-size: 13px;
    margin-bottom: 5px;
}
.detail-box strong {
    font-size: 22px;
    font-weight: 700;
}

/*========================Testimonials===================================== */
#testimonials {background-color: #f5f5f5;}
#testimonial {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 15px;
}
#test-title {
    font-size: 35px; 
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 25px;
    line-height: 1.1;
}
#test-title span {
    color: #a0a0a0;
    font-weight: 400;
}
#testimonials-cards {
    display: flex;
    flex-direction: column; 
    gap: 15px;
    align-items: center; 
}
.testimonial-card {
    background-color: #fff;
    border-radius: 20px; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 300px; 
    border: 1px solid #f0f0f0; 
}
.t-photo {
    width: 100%;
    object-fit: cover;
}
.user-content {padding: 20px;}
.user-content h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
}
.user-role {
    font-size: 12px;
    color: #a0a0a0;
    margin-bottom: 12px;
}
.comment {
    font-size: 13px;
    line-height: 1.5;
    color: #444;
}
/* ================================Contact==================================== */ 
#contact {
    background-color: var(--green);
    padding: 60px 16px;
}
#contact-container {
    background-color: #ffffff;
    border-radius: 24px;
    padding: 30px;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column; 
    gap: 40px;
}
#main-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #1a1a1a;
}
#main-text {
    color: #888;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 25px;
}
#profile {
    display: flex;
    align-items: center;
    gap: 15px;
}
#avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
#profile-info h4 {
    font-size: 16px;
    font-weight: 600;
}
#profile-info p {
    font-size: 12px;
    color: #888;
}
#form-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input, select {
    width: 100%;
    padding: 15px;
    border: 1px solid #f0f0f0;
    background-color: #f9f9f9;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}
.submit-btn {
    background-color: #5d5d5d;
    color: white;
    padding: 18px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
}
.submit-btn:hover {background-color: #444;}

/*===============================================================*/
footer{
    background-color: var(--dark-grey);
    color: #fff;
    padding: 40px 16px;
    font-weight: 700px;
}
#f-left img{
    width: 140px;
    margin-bottom: 10px;
}
#f-left p{
    font-size: 10px;
    line-height: 1.6;
    color: #7f7878;
}
#f-middle{
    margin: 30px 0;
    font-weight: 600;
}
#f-middle li{margin-bottom: 8px;}
#f-middle a{
    color: #fff;
    font-size: 14px;
}
#social-f{
    display: flex;
    gap: 20px;
    font-size: 20px;
    margin-bottom: 12px;
}
#social-f li a{
    width: 32px;
    height: 32px;
    background: var(--dark-grey);
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
#phone{
    font-size: 15px;
    font-weight: 600;
}
/*--------------------- DESKTOP----------------------- */

@media screen and (min-width: 768px) {
    #header{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        background: #fff;
        padding: 20px 5%;
    }
    #bars{display: none;} 
    #logo img {height: 30px;}
    nav {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    #nav {
        display: flex;
        gap: 20px;
    }
    #nav li {
        font-size: 12px;
        cursor: pointer;
    }
    #social {
        display: flex;
        gap: 10px;
    }
    #social li a {
        width: 32px;
        height: 32px;
        background: var(--dark-grey);
        color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
    }
    #lang {
        display: block;
        width: 35px;
    }
    #hero-text h1{font-size: 90px;}
    #hero-text span{display: block;}
   

    #Teaching-cards {
        grid-template-columns: repeat(4, 1fr);
        margin: 80px auto;
    }
    #Teaching h2 {font-size: 50px;}
    /* ======================================Teachers================================================ */
    #teachers-container {padding: 80px 20px;}
    .teachers-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 50px;
    }
    #teachers-title {font-size: 50px;}
    #teachers-cards {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    /* =============================Reviews===================================== */
    #review-cards {grid-template-columns: repeat(4, 1fr);}
    #reviews h2{font-size: 50px;}
    /* =============================Why Us============================================ */
    /* =============================Graduates============================================ */
    #grad-title {font-size: 50px;}
    #grad-cards {
        grid-template-columns: repeat(5, 1fr);
        gap: 25px;
    }
    .grad-card {padding: 40px 20px;}
    /* ==================================Partners================================ */
    #partners {padding: 50px;}
    #p-title {
        font-size: 50px; 
        margin-bottom: 40px;
    }
    #p-logos {
        grid-template-columns: repeat(6, 1fr); 
        gap: 20px;
    }
    .p-card {
        height: 120px; 
        border-radius: 12px;
    }
    .p-card:hover{
        background: rgba(140, 159, 175, 0.4);
        transition: 0.2s;
    }
    .p-card img {max-height: 70px;}

    /* ========================Diploma============================ */
    #diploma h2 {font-size: 50px;}
    .diploma-box {
        flex-direction: row;
        text-align: left;
        padding: 48px;
        gap: 48px;
    }
    .diploma-img img {width: 260px;}
    .diploma-content {max-width: 520px;}
    .diploma-content h3 {font-size: 32px;}
    /* ========================Guaranty============================ */
    #Guaranty {padding: 100px 0;}
    #info {
        max-width: 1200px; 
        padding-left: 50px;
    }
    #info h2 {
        font-size: 50px;
        line-height: 1.1;
        margin-bottom: 45px;
    }
    #text p {font-size: 20px;}
    /* =========================General Slider Control======================= */
    #heading h2 {
        font-size: 50px;
        padding: 0px 200px;
    }
    #slider-controls {
        display: flex;
        gap: 10px;
        padding: 0px 30px;
    }
    .control-btn {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 1px solid #ddd;
        background: white;
        cursor: pointer;
        font-size: 18px;
        color: #999;
        transition: 0.3s;
    }
    .control-btn.active {
        background: #777;
        color: white;
        border-color: #777;
    }
    /* ================================Social-Projects====================================== */
    #sp-title {
        font-size: 50px;
        margin-bottom: 50px;
    }
    #projects-cards {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    .project-card {transition: transform 0.3s ease;}
    .project-card:hover {transform: scale(1.02);}
    .card-text {font-size: 15px;}
/* =============================Calculator================================================= */
    #calc {
        display: grid;
        grid-template-columns: 3fr 2fr;
        padding: 60px;
        gap: 50px;
        max-width: 1000px;
    }
    .calc-inputs {padding-right: 50px;}
    #calc-results {
        border-left: 1px solid #eee;
        background-color: transparent;
        padding-left: 50px;
    }
    #calc-title {font-size: 40px;}

/* ======================Testimonials===================================== */
    #testimonial {padding: 60px 20px;}
    #test-title {font-size: 50px;}
    #testimonials-cards {
        flex-direction: row; 
        justify-content: flex-start;
        gap: 20px;
    }
    .testimonial-card {width: 33.333% ;}

/* ==========================Contact=========================================== */
    #contact-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 80px;
        margin: auto;
        align-items: flex-start;
        gap: 40px;
    }
    #profile-info h4,#profile-info p {display: block;}
    #main-title {font-size: 32px;}
    #form-title {font-size: 24px;}
    #form-column {padding-left: 40px;}


    footer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        line-height: 1.7;
        height: 400px;
    }
    #f-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;  
    }
    #f-middle{
        display: flex;
        justify-content: space-evenly;
        width: 40%;
    }
    #f-middle ul li a:hover{color:#777}
     
}
/* ----------------------------------------------------------------- */